# Lint and unit test requirements
flake8
stestr>=2.2.0
mock>=1.2
coverage>=3.6
# Install netifaces as its a horrible charmhelpers lazy import
netifaces
charmhelpers
git+https://github.com/canonical/operator.git#egg=ops
